name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: make workflow
      - uses: softprops/action-gh-release@v2
        with:
          files: letterboxd.alfredworkflow
          generate_release_notes: true
          draft: false
          prerelease: false
